---
layout: layouts/base.njk
permalink: /404.html
title: Page Not Found
description: "Error: Page not found"
keywords: "nixinova"
---
<meta name="robots" content="noindex">
<style data-name="Page styles">
    main {display: flex;}
    #wb404 {margin-left: 22%; width: 66%;}
</style>

<div style="margin: auto;">
    <h1>Error <samp>404</samp>: Page Not Found</h1>
    <p style="font-size: 175%;">
        The page you are looking for cannot be found.<br/>
        Click <a href="/">here</a> to go back to the home page.
    </p>
    <div id="wb404"></div>
    <script src="https://archive.org/web/wb404.js"></script>
</div>
