---
layout: layouts/base.njk
permalink: /projects/mineo/
title: Mineo
description: A puzzle-sandbox video game in development by Nixinova.
keywords: mineo, mineo game, mineo nixinova, nixinova mineo
---
<h1>Mineo</h1>

<p>An upcoming puzzle sandbox video game by Nixinova, currently in early development.</p>

<p><iframe class="youtube" src="https://www.youtube.com/embed/ZowKu4_fbK0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

<p>
    <a href="https://mediafire.com/?3w68ohbb9nha4a5">
        <button style="min-width: 30%;">Download Alpha 0.4.0</button>
    </a>
</p>
<p>
    <a href="versions">
        <button style="min-width: 30%;">Version history</button>
    </a>
</p>
