---
layout: layouts/base.njk
permalink: /projects/novasheets.html
title: NovaSheets
description: A lightweight CSS preprocessor that is simple but powerful.
keywords: novasheets, novasheets preprocessor, novasheets css, css preprocessor, novasheets info
---

<style>
    #main-container {background: hsl(225, 60%, 30%);}
    h1 {font-size: 4em; letter-spacing: 4px; text-transform: initial;}
    button {margin: 1em 0; border: 1px solid #fff; background: #181818; border-radius: 0;}
    .block-link {display: block; text-align: center;}
    footer {margin-top: 0;}
</style>

<div id="main-container" class="centered tile">

    <h1>NovaSheets</h1>
    <p>A lightweight CSS preprocessor that is simple but powerful.</p>
    <a href="https://novasheets.netlify.app" target="_blank" class="block-link"><button>Read more...</button></a>

</div>