---
layout: layouts/base.njk
permalink: /tools/minecraft/api/player.html
title: "Minecraft Player API"
description: "Get information about Minecraft player, including UUID, username history, skins, and capes."
keywords: "nixinova,minecraft,minecraft api,minecraft player info,minecraft player api,minecraft player lookup"
css: "tools.css"
js: "player.js"
---
<style>
    output {display: block;}
    output img {width: 256px; image-rendering: pixelated;}
    p {text-align: center;}
</style>
<script>
    var sections = ['username', 'uuid', 'username-history', 'skin', 'cape'];
</script>

<h1>Minecraft Player API</h1>
<p>Get information about any Minecraft player.</p>

<p>
    <label>Username:</label>
    <input type="text" id="input-username"> &nbsp;
    <button type="button" id="get-info" onclick="getInfo($('#input-username').val());">Get info</button><br>
</p>

<p id="loading" class="hide">
    Loading... <progress value="0.00"></progress>
</p>

<output class="hide">
    <p id="username_uuid">
        <strong id="username" style="font-size: 1.5em;"></strong>
        <span id="uuid" style="font-style: italic;"></span>
    </p>
    <ul id="username-history"></ul>
    <p>
        <span id="skin"></span>
        <span id="cape"></span>
    </p>
</output>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- In-article -->
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-7730644887366759" data-ad-slot="5486632061"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>