:root {
    /* --desktop: 800px; */
    --color1: linear-gradient(135deg, #333, #111);
    --color2: #222;
}

/* Font */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('/assets/fonts/montserrat.ttf') format('truetype');
}

/* Base elements */
* {
    box-sizing: border-box;
}

body {
    margin: 0; background: var(--color1); line-height: 1.8; font: normal 16px 'Montserrat', sans-serif; color: #eee;
}
code {
    font-size: 1.1em;
}
kbd {
    border: 1px solid #fff; background-color: #fff4; padding: 2px 3px; font-family: monospace;
}
img {
    display: inline-block; max-width: 100%; vertical-align: middle; border: 0;
}
output {
    display: block;
}
abbr {
    cursor: help;
}
summary {
    cursor: pointer;
}

/* Header */
header {
    width: 100%; z-index: 100;

    @media (min-width: 801px) {
        position: sticky;
    }
}
#header {
    display: flex; background: var(--color2); border-bottom: 2px solid white;

    @media (min-width: 600px) {
        display: grid; grid-template-columns: 200px auto 200px;
    }
    [data-icon] img {
        cursor: pointer; height: 32px;
    }
    #menu-logo img {
        max-width: 250px; aspect-ratio: 16 / 5;
    }
    #header-search, .menu-icon {
        align-self: center; text-align: center; color: white; cursor: pointer; z-index: 10;

        :is(&) a {
            color: white;
        }
    }
    .menu-icon {
        width: 80px; font-size: 3em;
    }
    #header-search {
        @media (max-width: 600px) {
            width: 80px;
        }
        @media (min-width: 601px) {
            margin-right: 2em; background: #fffa; border: 1px solid #333d; border-radius: 1em;

            .menu-icon {
                display: none;
            }
        }
    }
    #header-search_bar {
        @media (max-width: 600px) {
            display: none;
        }
        @media (min-width: 601px) {
            margin: 0.5em; padding: 2px 6px; background: transparent; border: none; outline: none;

            [data-icon] img {
                margin-right: 8px; padding-bottom: 2px; height: 16px; filter: initial;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    #menu-logo {
        margin: auto;
    }
}

nav {
    background: var(--color1); padding: 1em 1em 5em; width: 100%; line-height: 2; border-bottom: 2px solid white;

    @media (min-width: 700px) {
        display: grid; grid-auto-flow: column;
    }
    div {
        transition: 0.1s;
    }
    ul {
        margin: 0 1em; padding: 0; list-style-type: none;
    }
    a[href] {
        color: #fff;

        &:hover {
            opacity: 1;
        }
    }
    .menu-section {
        margin: 0 auto 1em;
    }
    .menu-header {
        display: block;
        font-weight: bold;
        font-size: 1.4em;
        text-align: center;
        text-transform: uppercase;
    }
    .menu-subheader {
        margin-top: 6px;
        display: inline-block;
        font-size: 1.1em;
        font-weight: bold;
    }
}

/* Main */
#content {
    display: grid; grid-template-areas: "header" "main" "footer"; grid-template-rows: auto 1fr auto; min-height: 100vh;
}

/* Footer */
footer {
    width: 100%; padding: 15px; background: var(--color2); margin-top: 12px; border-top: 2px solid #fff; text-align: center;

    ul {
        margin: 0;

        li {
            display: inline; white-space: nowrap;

            &:not(:empty):not(:first-child)::before {
                content: ' • ';
            }
        }
    }
}

/* Headings */
h1, h2, h3, h4 {
    text-transform: uppercase;

    &, h5, h6 {
        margin: 0.5em 0; color: #eee; text-align: center; font-weight: bold;
    }
}
h2.section-header {
    margin-top: 0.8em; margin-bottom: 0.5em;

    &::after {
        content: ""; display: block; width: 15vw; height: 2px; margin-left: calc(50% - 7.5vw); background: #fff; transition: 1s;
    }
    &:hover::after {
        width: 20vw; margin-left: calc(50% - 10vw);
    }
}
h1 {
    font-size: calc(2.6em - (((1) - 1) / 1.8));
}
h2 {
    font-size: calc(2.6em - (((2) - 1) / 1.8));
}
h3 {
    font-size: calc(2.6em - (((3) - 1) / 1.8));
}
h4 {
    font-size: calc(2.6em - (((4) - 1) / 1.8));
}
h5 {
    font-size: calc(2.6em - (((5) - 1) / 1.8));
}
h6 {
    font-size: calc(2.6em - (((6) - 1) / 1.8));
}

/* Paragraphs */
p {
    margin: 1em; text-align: center;

    &.description {
        max-width: 800px;
        margin: auto;
        line-height: 1.8;
    }
}

/* Links */
a {
    text-decoration: none; cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
    &[href] {
        color: #acf; transition: 0.2s;

        &-underline {
            display: block;

            &::after {
                content: ""; display: block; width: 0; height: 2px; background: #fff; color: #fff; transition: 0.4s;
            }
            :hover>& {
                width: 5em;
            }
        }
    }
    &.external::after {
        content: ' 🡕';
    }
}

/* Tables */
table.styled :is(th, td) {
    border: 1px solid #555; padding: 0.2em 0.4em;
}

/* Lists */
.columns-list {
    display: flex; flex-wrap: wrap;

    li {
        margin-left: 2em;
    }
}

/* Icons */
[data-icon] {
    cursor: pointer; vertical-align: top;

    img {
        height: 24px; filter: invert(1);
    }
}

/* Centering */
.centered {
    display: flex; flex-direction: column; place-content: center; justify-content: center; align-items: center;

    p {
        display: inline-block; max-width: 50%;
    }
}

.tile {
    height: 100vh;
}

/* Dividers */
hr.half {
    width: 50%;
}
hr.divider {
    width: 90%;
}

/* Videos */
iframe.youtube {
    width: 80vw; height: 45vw; max-width: 960px; max-height: 540px;
}

/* Galleries */
#gallery {
    width: 100%; margin-bottom: 1em;

    .screenshot {
        display: flex; height: 75/16*10vh; border-bottom: 2px solid #fff; background: #333 center/cover; background-blend-mode: overlay;

        > * {
            margin: auto;
        }
    }
}

/* Buttons */
button {
    background: #19f; color: #fff; padding: 12px 30px; cursor: pointer; font-size: 20px; border: none; border-radius: 0.5em;

    &:hover {
        background: #08f; transition: 0.25s;
    }
    &.download {
        width: 250px; margin: 0 0 0.2em;

        &.small {
            padding: 8px 12px; font-size: 95%;
        }
    }
}

/* Hiding */
.hide {
    display: none !important;
}

/* Responsive */
@media (max-width: 800px) {
    .desktoponly {
        display: none !important;
    }
}
@media (min-width: 801px) {
    .mobileonly {
        display: none !important;
    }
}

/* Ads */
p~.adsbygoogle {
    margin: 3em auto;
}

/* Copyright © Nixinova 2025 */
