/* Font */
@font-face {font-family: 'Minecraft'; src: local('Minecraft'), url('/assets/fonts/minecraft.ttf') format('truetype');}

/* Base styles */
textarea {transition: none;}
form p {text-align: left;}
h2:not(.upper) {text-transform: lowercase;}

@media (min-width: 900px) {
    form, output {width: 800px; margin: 0 calc(50% - 400px);}
}

/* Buttons */
button {padding: 5px 10px; font-size: inherit; border-radius: 5px;}
button.on  {background: #5c5;}
button.off {background: #f55;}
button.reset {padding: 20px; margin: 0 50px; border: none; border-radius: 5em; cursor: pointer; font: 2em 'Passion One';}

/* Inputs */
input, select, button {padding: 5px 10px; margin-top: 10px; display: inline-block; border: none; border-radius: 4px;}
input[type="submit"] {width: 100%; background: #94c0c4; padding: 14px 20px; margin: 8px 0px; border: none;
    border-radius: 4px; cursor: pointer; color: #333; font: normal 2em 'Passion One'; text-align: center;}
input[type="submit"]:hover {box-shadow: 0px 10px 14px -5px #3338;}
input[type="number"] {width: 70px;}
textarea {padding: 2px 6px; margin: 6px 0 10px; border-radius: 4px;}

/* Dropdown icons */
.elipsis, .plus, .minus, .clear {background: #eee; border-radius: 20px; animation: none;}
.elipsis, .clear {padding: 5px  8px;}
.plus, .minus {padding: 5px 10px;}
.plus::before {content: '+';}
.minus::before {content: '−';}
.elipsis::before {content: '⋯';}
.clear::before {content: '🞩';}
a.elipsis, a.plus, a.minus, a.clear {color: #222; transition: 0s;}

/* Output */
.command {
    display: block; background: gray; color: #333; padding: 5px 1em; margin-right: 2em; font-family: monospace; 
    border: dotted #aaa 1px; border-radius: 5px; word-break: break-word;
}

/* Indentation */
p.indent, div.indent {margin: -13px 0 -13px 20px;}
p.negative {margin-top: -15px;}
.indent {margin: 0 20px;}

@media (max-width: 900px) {    
    main {margin-left: 1em;}
}

@media (min-width: 600px) {
    label {display: inline-block; width: 125px;}
    label.long {display: inline-block; width: 250px;}
}

/* Copyright © Nixinova 2019 */
