/* Font */
@font-face {font-family: 'Minecraft'; src: local('Minecraft'), url('/assets/fonts/minecraft.ttf') format('truetype');}

/* Base styles */
form p {text-align: left; line-height: 3;}
h2:not(.upper) {text-transform: lowercase;}

@media (min-width: 815px) {
    form, output, .content {max-width: 825px; margin: 0 auto;}
}

/* Buttons */
button {padding: 7px 10px; font-size: inherit; border-radius: 5px;}
button.on  {background: #5c5;}
button.off {background: #f55;}
button.reset {padding: 20px; margin: 0 50px; border: none; border-radius: 5em; cursor: pointer; font: 2em 'Passion One';}

/* Inputs */
input, select, button {padding: 5px 10px; margin-top: 10px; display: inline-block; border: none; border-radius: 4px;}
input, select {width: 160px;}
input[type="submit"] {width: 100%; background: #94c0c4; padding: 14px 20px; margin: 8px 0px; border: none;
    border-radius: 4px; cursor: pointer; color: #333; font: normal 2em 'Passion One'; text-align: center;}
input[type="submit"]:hover {box-shadow: 0px 10px 14px -5px #3338;}
input[type="number"]:not(.long) {width: 70px;}
textarea {transition: none; padding: 2px 6px; margin: 10px 0; border-radius: 4px;}

/* Dropdown icons */
.elipsis, .plus, .minus, .clear {margin-left: 10px; font-size: 95%; background: #eee; border-radius: 20px; animation: none;}
.elipsis, .clear {padding: 5px  8px;}
.plus, .minus {padding: 5px 10px;}
.plus::before {content: '+';}
.minus::before {content: '−';}
.elipsis::before {content: '⋯';}
.clear::before {content: '🞩';}
a.elipsis, a.plus, a.minus, a.clear {color: #222; transition: 0s;}

/* Output */
#preview-text {padding: 5px 10px; font-family: Minecraft; background-color: #100110e9;
    border: 3px solid #205e; border-radius: 5px;}
.command {
    display: block; color: #aaa; padding: 5px 1em; margin: 0 auto 2em; font-family: monospace; 
    border: solid #aaa 1px; border-radius: 5px; word-break: break-all;
}

/* Indentation */
p.indent, div.indent {margin: -13px 0 -13px 20px;}
p.negative {margin-top: -15px;}
.indent {margin: 0 20px;}

@media (max-width: 900px) {    
    main {margin-left: 1em;}
}

@media (min-width: 815px) {
    span.set-width {display: inline-block; width: var(--width);}
    label {display: inline-block; width: 125px;}
    label.short {margin-left: 15px; width: 100px;}
    label.long {width: 250px;}
}
        
@media (max-width: 814px) {
    .mobile-spacer {margin-left: 20px;}
}

/* Minecraft color codes */
.§0 {color: #000; text-shadow: 1px 1px #000000;}
.§1 {color: #00a; text-shadow: 1px 1px #00002a;}
.§2 {color: #0a0; text-shadow: 1px 1px #002a00;}
.§3 {color: #0aa; text-shadow: 1px 1px #002a2a;}
.§4 {color: #a00; text-shadow: 1px 1px #2a0000;}
.§5 {color: #a0a; text-shadow: 1px 1px #2a002a;}
.§6 {color: #fa0; text-shadow: 1px 1px #2a2a00;}
.§7 {color: #aaa; text-shadow: 1px 1px #2a2a2a;}
.§8 {color: #555; text-shadow: 1px 1px #151515;}
.§9 {color: #55f; text-shadow: 1px 1px #15153f;}
.§a {color: #5f5; text-shadow: 1px 1px #153f15;}
.§b {color: #5ff; text-shadow: 1px 1px #153f3f;}
.§c {color: #f55; text-shadow: 1px 1px #3f1515;}
.§d {color: #f5f; text-shadow: 1px 1px #3f153f;}
.§e {color: #ff5; text-shadow: 1px 1px #3f3f15;}
.§f {color: #fff; text-shadow: 1px 1px #3f3f3f;}

/* Copyright © Nixinova 2020 */
