---
layout: layouts/base.njk
permalink: /tools/minecraft/commands/bundle.html
title: "Minecraft Bundle Generator"
description: "A generator which creates bundles for Minecraft 1.17."
keywords: "nixinova,bundle,minecraft,bundle generator,minecraft bundle,minecraft bundle generator,bundle
minecraft,minecraft command generator"
nss: "tools.nss"
js: "bundle.js"
---
<style>
    main {display: flex; flex-direction: column;}
    #bundle_contents :placeholder-shown {background: gray;}
</style>
<script>
    var function_count = 0;
    $(document).ready(function () {
        $('#footer-other').html('<a href="/assets/js/bundle.js" title="bundle.js" target="_blank">View code</a>');
        submit();
    });
</script>

<h2 class="upper">Bundle Generator</h2>
<p>Generates bundle contents for Minecraft 1.17.</p>
<form action="javascript:submit()" id="input_form">
    <!-- target -->
    <p onchange="submit()">
        <label for="input_target">Target:</label>
        <select id="input_target">
            <option value="@s">Yourself</option>
            <option value="@p">Nearest player</option>
            <option value="@r">Random player</option>
            <option value="@a">All players</option>
            <option value="--">Specific player</option>
        </select>
    </p>
    <!-- target (username) -->
    <p class="negative hide" id="select-username">
        <label for="input_player">Username:</label>
        <input id="input_player" type="text" size="13" maxlength="16" onkeyup="submit()">
    </p>

    <!-- bundle item ID creation -->
    <h3>Bundle Items</h3>
    <p class="text">
        Enter each item you want to put in the bundle attached to a specific number below.<br>
        This number will be used in the bundle creation table to refer to that specific item.
    </p>
    <div>
        <a class="plus" href="javascript:void(0)" onclick="appendToItemList()" style="margin-left:3em;"></a>
        <ol class="columns-list" id="bundle_item_list" style="width:825px;columns:3;"></ol>
        <script>
            window.bundleItemCount = 0;
            function appendToItemList() {
                $('#bundle_item_list').append(`
                    <li><input id="item-id_${++bundleItemCount}" type="text" placeholder="minecraft:stone"></li>
                `);
            }
            $(appendToItemList());
        </script>
    </div>

    <!-- bundle contents creation -->
    <h3>Bundle Contents</h3>
    <p class="text">
        Enter numbers in each cell which correspond to the blocks above.
    </p>
    <div class="centered" onmouseout="submit()">

        <p>
            <label class="short" style="width: 50px;">Size:<a href="#fn-1">*</a></label>
            <input id="size_x" type="number" value="1" min="1" onchange="submit()"> &times;
            <input id="size_y" type="number" value="1" min="1" onchange="submit()">

            <br>

            <style>
                .on::after {content: 'Enabled';}
                .off::after {content: 'Disabled';}
            </style>
            <label for="padding" class="short">Padding:<a href="#fn-2">**</a></label>
            <button type="button" id="padding" class="on" onclick="toggleOnOff(this);submit();"></button>
        </p>

        <table id="bundle_contents">
        </table>

    </div>

</form>

<br style="margin-top: 2em;">

<div style="margin-top: auto;">

    <h3 onclick="submit()">
        Output
        <span style="font-size: 90%;">
            &nbsp;<i data-icon="sync"></i>
            &nbsp;<i data-icon="copy" id="copyCommand" onclick="copyCommand()"></i>
        </span>
    </h3>
    <div id="cmd-note" class="hide" onmouseover="submit()">
        <p>
            <strong>Note:</strong> This command is too long to be put in chat so it must be run from a command block:
            <output class="command">
                <span class="§7">/give</span>
                <span class="§b">@s</span>
                <span class="§e">minecraft:command_block</span>
                <span class="§a">1</span>
            </output>
        </p>
    </div>
</div>

<output id="generator-output" class="command"></output>

<div class="centered" style="max-width: 60%; font-size: 95%;">
    <p id="fn-1">
        * Note that the bundle must be roughly a square for it to display exactly as specified.
    </p>
    <p id="fn-2">
        ** When padding is enabled, the bundle will have the exact same layout as the inputted values, but with padding
        on the bottom or side. When disabled, the bundle will not have any padding, but the output will not have the
        same layout as the inputted values.
    </p>
</div>

{% include "ad.html" %}