---
layout: layouts/base.njk
permalink: /tools/minecraft/commands/summon.html
title: "Minecraft /summon Generator"
description: "A generator which creates /summon commands for Minecraft 1.16."
keywords: "nixinova,summon,minecraft,summon generator,minecraft summon,minecraft summon generator,minecraft summon generator,summon command generator,minecraft summon command,summon minecraft,minecraft command generator"
nss: "tools.nss"
js: "summon.js"
---
<style>
    main {display: flex; flex-direction: column;}
</style>
<script>
    var function_count = 0;
        $(document).ready(function() {
            $('#footer-other').html('<a href="/assets/js/summon.js" title="summon.js" target="_blank">View code</a>');
            submit();
    });
</script>

<h2>/summon</h2>
<p>Generates <samp>/summon</samp> commands for Minecraft 1.13 to 1.15.</p>
<form action="javascript:submit()" id="input_form" style="margin: auto;">
    <p>
        <label for="input_entity">Mob:</label>
        <select id="input_entity" value="bat" onchange="submit()">
            <option>Bat</option>
            <option>Bee</option>
            <option>Blaze</option>
            <option>Cat</option>
            <option>Cave Spider</option>
            <option>Chicken</option>
            <option>Creeper</option>
            <option>Cod</option>
            <option>Cow</option>
            <option>Drowned</option>
            <option>Dolphin</option>
            <option>Donkey</option>
            <option>Elder Guardian</option>
            <option>Ender Dragon</option>
            <option>Enderman</option>
            <option>Endermite</option>
            <option>Evoker</option>
            <option>Fox</option>
            <option>Ghast</option>
            <option>Giant</option>
            <option>Guardian</option>
            <option>Hoglin</option>
            <option>Horse</option>
            <option>Husk</option>
            <option>Illusioner</option>
            <option>Iron Golem</option>
            <option>Llama</option>
            <option>Magma Cube</option>
            <option>Mooshroom</option>
            <option>Mule</option>
            <option>Ocelot</option>
            <option>Panda</option>
            <option>Parrot</option>
            <option>Phantom</option>
            <option>Pig</option>
            <option>Piglin</option>
            <option>Piglin Brute</option>
            <option>Pillager</option>
            <option>Polar Bear</option>
            <option>Pufferfish</option>
            <option>Rabbit</option>
            <option>Ravager</option>
            <option>Salmon</option>
            <option>Sheep</option>
            <option>Shulker</option>
            <option>Silverfish</option>
            <option>Skeleton</option>
            <option>Skeleton Horse</option>
            <option>Slime</option>
            <option>Snow Golem</option>
            <option>Stray</option>
            <option>Strider</option>
            <option>Spider</option>
            <option>Squid</option>
            <option>Turtle</option>
            <option>Trader Llama</option>
            <option>Tropical Fish</option>
            <option>Vex</option>
            <option>Villager</option>
            <option>Vindicator</option>
            <option>Wandering Trader</option>
            <option>Witch</option>
            <option>Wither</option>
            <option>Wither Skeleton</option>
            <option>Wolf</option>
            <option>Zombie</option>
            <option>Zombie Horse</option>
            <option>Zombie Villager</option>
            <option>Zombified Piglin</option>
            <option>Zoglin</option>
        </select><br/>
    
        <label>Coordinates:</label>
        <input type="number" step="any" placeholder="~" id="input_x"> &nbsp;
        <input type="number" step="any" placeholder="~" id="input_y"> &nbsp;
        <input type="number" step="any" placeholder="~" id="input_z"><br/>
    </p>
    <p data-name="NBT" onclick="submit()">
        <label>NBT:</label><br/>
    
        <label for="input_customname" class="indent">Custom name:</label>
        <input type="text" size="13" id="input_customname" onkeyup="submit()">  
        <a href="javascript:void(0)" id="expand-cname" class="elipsis" onclick="show_more('expand-cname','cname-content')"></a>
        
        <span id="preview" class="hide">&nbsp; Preview: &nbsp; <span id="preview-text"></span></span><br/>

        <span id="cname-content" class="hide">
            <label class="indent" style="margin-left: 40px;" for="input_customname_color">Colour:</label>
            <select id="input_customname_color" onchange="submit()">
                <option value="">White</option>
                <option>Aqua</option>
                <option>Black</option>
                <option>Blue</option>
                <option>Dark Aqua</option>
                <option>Dark Blue</option>
                <option>Dark Gray</option>
                <option>Dark Green</option>
                <option>Dark Purple</option>
                <option>Dark Red</option>
                <option>Gold</option>
                <option>Gray</option>
                <option>Green</option>
                <option>Light Purple</option>
                <option>Red</option>
                <option>Yellow</option>
            </select><br/>
            <label class="indent" style="margin-left: 40px;">Styles:</label>
            <button type="button" id="input_customname_b" class="off" onclick="toggleOnOff(this)">Bold</button> &nbsp;
            <button type="button" id="input_customname_i" class="on " onclick="toggleOnOff(this)">Italic</button> &nbsp;
            <button type="button" id="input_customname_u" class="off" onclick="toggleOnOff(this)">Underlined</button> &nbsp;
            <button type="button" id="input_customname_s" class="off" onclick="toggleOnOff(this)">Strikethrough</button> &nbsp;
            <button type="button" id="input_customname_o" class="off" onclick="toggleOnOff(this)">Obfuscated</button><br/>
        </span>

        <label for="input_customname_visible" class="indent" title="Always show name">Static nametag?</label>
        <button type="button" id="input_customname_visible" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>

        <label for="input_health" class="indent" style="letter-spacing: -.44px;">Additional health:</label>
        <input id="input_health" type="number" step="any" min="0" onchange="submit()"><br/>

        <label for="input_no_ai" class="indent">Able to move?</label>
        <button type="button" id="input_no_ai" class="notext on" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
    
        <label for="input_despawnable" class="indent">Despawnable?</label>
        <button type="button" id="input_despawnable" class="notext on" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
    
        <label for="input_invulnerable" class="indent">Invulnerable?</label>
        <button type="button" id="input_invulnerable" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
    
        <label for="input_silent" class="indent">Silent?</label>
        <button type="button" id="input_silent" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
    
        <label for="input_pickup" class="indent">Picks up items?</label>
        <button type="button" id="input_pickup" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
    
        <label for="input_gravity" class="indent">Obeys gravity?</label>
        <button type="button" id="input_gravity" class="notext on" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
    
        <label for="input_glowing" class="indent">Glowing?</label>
        <button type="button" id="input_glowing" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        
        <style>.right::before {content: 'Right'} .left::before {content: 'Left'}</style>
        <label for="input_main_hand" class="indent">Main hand:</label>
        <button type="button" id="input_main_hand" class="notext right" onclick="$(this).toggleClass('right').toggleClass('left')"></button><br/>
    
        <span class="tame_mobs only">
            <label for="input_horse_tame" class="indent">Tame?</label>
            <button type="button" id="input_horse_tame" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        </span>

        <span class="owner_mobs only">
            <label forr="input_owner_uuid" class="indent">Owner UUID:</label>
            <input id="input_owner_uuid" type="text" size="36" onchange="submit()"><br/>
        </span>
    
        <span class="bee only">
            <label for="input_bee_nectar" class="indent">Has nectar?</label>
            <button type="button" id="input_bee_nectar" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
            
            <label for="input_bee_stung" class="indent">Has stung?</label>
            <button type="button" id="input_bee_stung" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
            
            <label for="input_bee_angry" class="indent">Angry?</label>
            <button type="button" id="input_bee_angry" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button>
        
            <span class="angry-bee only"> &ensp;
                <label for="input_bee_angry_time_value" class="indent" style="width: 170px;">Time until peaceful:</label>
                <input id="input_bee_angry_time_value" type="number" value="1000" min="0" onchange="submit()">
                <select id="input_bee_angry_time" onchange="submit()">
                    <option value="t">Ticks</option>
                    <option value="s">Seconds</option>
                    <option value="m">Minutes</option>
                    <option value="h">Hours</option>
                </select>
            </span><br/>
        </span>
    
        <span class="cat only">
             <label for="input_cat_type" class="indent">Type:</label>
             <select id="input_cat_type" onchange="submit()">
                <option value="">Default</option>
                <option value="0">Tabby</option>
                <option value="1">Tuxedo</option>
                <option value="2">Red</option>
                <option value="3">Siamese</option>
                <option value="4">British Shorthair</option>
                <option value="5">Calico</option>
                <option value="6">Persian</option>
                <option value="7">Ragdoll</option>
                <option value="8">White</option>
                <option value="9">Jellie</option>
                <option value="10">Black</option>
             </select><br/>
         
             <label for="input_cat_collar" class="indent">Collar colour:</label>
             <select id="input_cat_collar" onchange="submit()">
                <option value="">Default</option>
                <option value="0">White</option>
                <option value="1">Orange</option>
                <option value="2">Magenta</option>
                <option value="3">Light blue</option>
                <option value="4">Yellow</option>
                <option value="5">Lime</option>
                <option value="6">Pink</option>
                <option value="7">Gray</option>
                <option value="8">Light gray</option>
                <option value="9">Cyan</option>
                <option value="10">Purple</option>
                <option value="11">Blue</option>
                <option value="12">Brown</option>
                <option value="13">Green</option>
                <option value="14">Red</option>
                <option value="15">Black</option>
             </select><br/>
        </span>
    
        <span class="creeper only">
            <label for="input_creeper_powered" class="indent">Powered?</label>
            <button type="button" id="input_creeper_powered" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>

            <label for="input_creeper_ignited" class="indent">Ignited?</label>
            <button type="button" id="input_creeper_ignited" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        
            <label for="input_creeper_radius" class="indent" style="letter-spacing: -0.1px;">Explosion radius:</label>
            <input id="input_creeper_radius" type="number" value="3" min="0" max="127" onchange="submit()"></button><br/>
        
            <label for="input_creeper_fuse" class="indent">Fuse:</label>
            <input id="input_creeper_fuse" type="number" value="30" min="0" max="32767" onchange="submit()"></button><br/>
        </span>
    
        <span class="ender_dragon only">
            <label for="input_enderdragon_state" class="indent">State:</label>
            <select id="input_enderdragon_state" onchange="submit()">
                <option value="10">Hovering</option>
                <option value="0">Circling</option>
                <option value="1">Strafing</option>
                <option value="2">Preparing to land</option>
                <option value="3">Landing</option>
                <option value="4">Taking off</option>
                <option value="5">Breath attack</option>
                <option value="6">Seeking out player</option>
                <option value="7">Roaring</option>
                <option value="8">Charging</option>
                <option value="9">Preparing to die</option>
            </select><br/>
        </span>
    
        <span class="endermite only">
            <label for="input_endermite_life" class="indent">Life length:</label>
            <input id="input_endermite_life" type="number" min="1" max="2400" onchange="submit()"><br/>
        
            <label for="input_endermite_attackable" style="letter-spacing: -1.2;">Anger endermen?</label>
            <button type="button" id="input_endermite_attackable" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        </span>
    
        <span class="fox only">
            <style>
                .fox.red {background-color: #f70;}
                .fox.snow {background-color: #def; color: black;}
                .fox.red::after {content: 'Red';}
                .fox.snow::after {content: 'Snow';}
            </style>
            <script>var foxCount = 0;</script>
            <label for="input_fox_type" class="indent">Type:</label>
            <button type="button" id="input_fox_type" class="notext red fox" onclick="$(this).toggleClass('snow').toggleClass('red');foxCount++;">
            </button><br/>
        </span>
    
        <span class="ghast only">
            <label for="input_ghast_explosion_power" class="indent">Fireball power:</label>
            <input id="input_ghast_explosion_power" type="number" min="1" onchange="submit()"><br/>
        </span>
    
        <span class="llama only">
            <label for="input_llama_type" class="indent">Type:</label>
            <select id="input_llama_type" onchange="submit()">
                <option value=" ">Creamy</option>
                <option value="1">White</option>
                <option value="2">Brown</option>
                <option value="3">Gray</option>
            </select><br/>

            <label for="input_llama_carpet" class="indent">Carpet:</label>
            <select id="input_llama_carpet" onchange="submit()">
                <option value="">None</option>
                <option>White</option>
                <option>Orange</option>
                <option>Magenta</option>
                <option>Light blue</option>
                <option>Yellow</option>
                <option>Lime</option>
                <option>Pink</option>
                <option>Gray</option>
                <option>Light gray</option>
                <option>Cyan</option>
                <option>Purple</option>
                <option>Blue</option>
                <option>Brown</option>
                <option>Green</option>
                <option>Red</option>
                <option>Black</option>
            </select><br/>
        
            <label for="input_llama_temper" class="indent">Temper:</label>
            <input id="input_llama_temper" type="number" min="1" max="100" onchange="submit()"><br/>
        </span>
    
        <span class="mooshroom only">
            <label for="input_mooshroom_type" class="indent">Type:</label>
            <select id="input_mooshroom_type" onchange="submit()">
                <option value="">Red</option>
                <option>Brown</option>
            </select><br/>
        </span>
    
        <span class="panda only">
            <label for="input_panda_gene_1" class="indent">Main gene:</label>
            <select id="input_panda_gene_1" onchange="submit()">
                <option>Normal</option>
                <option>Lazy</option>
                <option>Worried</option>
                <option>Playful</option>
                <option>Aggressive</option>
                <option>Weak</option>
                <option>Brown</option>
            </select><br/>
            
            <label for="input_panda_gene_2" class="indent">Hidden gene:</label>
            <select id="input_panda_gene_2" onchange="submit()">
                <option>Normal</option>
                <option>Lazy</option>
                <option>Worried</option>
                <option>Playful</option>
                <option>Aggressive</option>
                <option>Weak</option>
                <option>Brown</option>
            </select><br/>
        </span>

        <span class="piglin only">
            <label for="input_piglin_zombify" class="indent">Can zombify?</label>
            <button type="button" id="input_piglin_zombify" class="notext on" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        </span>
    
        <span class="rabbit only">
            <label for="input_rabbit_type" class="indent">Type:</label>
            <select id="input_rabbit_type" onchange="submit()">
                <option value="">Default</option>
                <option value="0">Brown</option>
                <option value="1">White</option>
                <option value="2">Black</option>
                <option value="3">Black and white</option>
                <option value="4">Gold</option>
                <option value="5">Salt and pepper</option>
                <option value="99">The Killer Bunny</option>
            </select><br/>
        </span>
    
        <span class="sheep shulker only">
            <label for="input_mob_color" class="indent">Colour:</label>
            <select id="input_mob_color" onchange="submit()">
                <option value="">Default</option>
                <option value="0">White</option>
                <option value="1">Orange</option>
                <option value="2">Magenta</option>
                <option value="3">Light blue</option>
                <option value="4">Yellow</option>
                <option value="5">Lime</option>
                <option value="6">Pink</option>
                <option value="7">Gray</option>
                <option value="8">Light gray</option>
                <option value="9">Cyan</option>
                <option value="10">Purple</option>
                <option value="11">Blue</option>
                <option value="12">Brown</option>
                <option value="13">Green</option>
                <option value="14">Red</option>
                <option value="15">Black</option>
            </select><br/>
        </span>
    
        <span class="slime only">
            <label for="input_slime_size" class="indent">Size:</label>
            <input id="input_slime_size" type="number" min="0" onchange="submit()">
        </span>

        <span class="strider only">
            <label for="input_strider_saddle">Saddled?</label>
            <button type="button" id="input_strider_saddle" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        </span>

        <span class="tropical_fish only">
            <label for="input_tropical_fish_size" class="indent">Size:</label>
            <select id="input_tropical_fish_size" onchange="submit()">
                <option value="0">Small</option>
                <option value="1">Large</option>
            </select><br/>
            
            <label for="input_tropical_fish_pattern" class="indent">Pattern:</label>
            <select id="input_tropical_fish_pattern" onchange="submit()">
                <option value="0" class="small-fish">Kob</option>
                <option value="1" class="small-fish">Sunstreak</option>
                <option value="2" class="small-fish">Snooper</option>
                <option value="3" class="small-fish">Dasher</option>
                <option value="4" class="small-fish">Brinely</option>
                <option value="5" class="small-fish">Spotty</option>
            
                <option value="0" class="large-fish">Flopper</option>
                <option value="1" class="large-fish">Stripey</option>
                <option value="2" class="large-fish">Glitter</option>
                <option value="3" class="large-fish">Blockfish</option>
                <option value="4" class="large-fish">Betty</option>
                <option value="5" class="large-fish">Clayfish</option>
            </select><br/>
        
            <label for="input_tropical_fish_base_color" class="indent">Base colour:</label>
            <select id="input_tropical_fish_base_color" onchange="submit()">
                <option value="0">White</option>
                <option value="1">Orange</option>
                <option value="2">Magenta</option>
                <option value="3">Sky</option>
                <option value="4">Yellow</option>
                <option value="5">Lime</option>
                <option value="6">Rose</option>
                <option value="7">Gray</option>
                <option value="8">Silver</option>
                <option value="9">Teal</option>
                <option value="10">Plum</option>
                <option value="11">Blue</option>
                <option value="12">Brown</option>
                <option value="13">Green</option>
                <option value="14">Red</option>
            </select><br/>
        
            <label for="input_tropical_fish_pattern_color" class="indent">Pattern colour:</label>
            <select id="input_tropical_fish_pattern_color" onchange="submit()">
                <option value="0">White</option>
                <option value="1">Orange</option>
                <option value="2">Magenta</option>
                <option value="3">Sky</option>
                <option value="4">Yellow</option>
                <option value="5">Lime</option>
                <option value="6">Rose</option>
                <option value="7">Gray</option>
                <option value="8">Silver</option>
                <option value="9">Teal</option>
                <option value="10">Plum</option>
                <option value="11">Blue</option>
                <option value="12">Brown</option>
                <option value="13">Green</option>
                <option value="14">Red</option>
            </select>
            <br/>
        </span>
    
        <span class="villager zombie_villager only">
            <label for="input_villager_type" class="indent">Type:</label>
            <select id="input_villager_type" onchange="submit()">
                <option>Desert</option>
                <option>Jungle</option>
                <option selected value="">Plains</option>
                <option>Savanna</option>
                <option>Snow</option>
                <option>Swamp</option>
                <option>Taiga</option>
            </select><br/>
        
            <label for="input_villager_profession" class="indent">Profession:</label>
            <select id="input_villager_profession" onchange="submit()">
                <option value="">None</option>
                <option>Armorer</option>
                <option>Butcher</option>
                <option>Cartographer</option>
                <option>Cleric</option>
                <option>Farmer</option>
                <option>Fisherman</option>
                <option>Fletcher</option>
                <option>Leatherworker</option>
                <option>Librarian</option>
                <option>Nitwit</option>
                <option>Mason</option>
                <option>Shepherd</option>
                <option>Toolsmith</option>
                <option>Weaponsmith</option>
            </select><br/>
        
            <label for="input_villager_level" class="indent">Level:</label>
            <input id="input_villager_level" type="number" value="1" min="1" max="5" onchange="submit()">
            <br/>
        </span>
    
        <span class="wolf only">
            <label for="input_wolf_collar" class="indent">Collar colour:</label>
            <select id="input_wolf_collar" onchange="submit()">
                <option value="">Default</option>
                <option value="0">White</option>
                <option value="1">Orange</option>
                <option value="2">Magenta</option>
                <option value="3">Light blue</option>
                <option value="4">Yellow</option>
                <option value="5">Lime</option>
                <option value="6">Pink</option>
                <option value="7">Gray</option>
                <option value="8">Light gray</option>
                <option value="9">Cyan</option>
                <option value="10">Purple</option>
                <option value="11">Blue</option>
                <option value="12">Brown</option>
                <option value="13">Green</option>
                <option value="14">Red</option>
                <option value="15">Black</option>
            </select><br/>
        
            <label for="input_wolf_sitting" class="indent">Sitting?</label>
            <button type="button" id="input_wolf_sitting" class="notext on" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        </span>
    
        <span class="zombies only">
            <label for="input_zombies_canbreak_doors" class="indent">Breaks doors?</label>
            <button type="button" id="input_zombies_canbreak_doors" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button><br/>
        </span>
    
        <span class="baby_mobs only">
            <label for="input_is_baby" class="indent">Baby?</label>
            <button type="button" id="input_is_baby" class="notext off" onclick="$(this).toggleClass('on').toggleClass('off')"></button>
        
            <span class="baby_living_mobs only"> &ensp;
                <label for="input_baby_time_value" class="indent" style="width: 170px;">Time until adulthood:</label>
                <input id="input_baby_time_value" type="number" value="1000" min="0" onchange="submit()">
                <select id="input_baby_time" onchange="submit()">
                    <option value="t">Ticks</option>
                    <option value="s">Seconds</option>
                    <option value="m">Minutes</option>
                    <option value="h">Hours</option>
                </select>
            </span><br/>
        </span>
    </p>

    <p data-name="Armour">
        <label>Equipment:</label><br/>
        
        <label class="indent">Head:</label><br class="mobileonly"/><i class="mobile-spacer"></i>
        <input type="text" size="13" id="input_armour_head" onkeyup="submit()"> &nbsp;<br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Count:</span> &nbsp;
        <input type="number" value="1" min="1" id="input_armour_head_num" onchange="submit()"><br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Drop chance:</span> &nbsp;
        <input type="number" min="1" max="100" id="input_armour_head_count" onchange="submit()">&ensp;%<br/>
    
        <label class="indent">Chest:</label><br class="mobileonly"/><i class="mobile-spacer"></i>
        <input type="text" size="13" id="input_armour_chest" onkeyup="submit()"> &nbsp;<br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Count:</span> &nbsp;
        <input type="number" value="1" min="1" id="input_armour_chest_num" onchange="submit()"><br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Drop chance:</span> &nbsp;
        <input type="number" min="1" max="100" id="input_armour_chest_count" onchange="submit()">&ensp;%<br/>
    
        <label class="indent">Legs:</label><br class="mobileonly"/><i class="mobile-spacer"></i>
        <input type="text" size="13" id="input_armour_legs" onkeyup="submit()"> &nbsp;<br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Count:</span> &nbsp;
        <input type="number" value="1" min="1" id="input_armour_legs_num" onchange="submit()"><br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Drop chance:</span> &nbsp;
        <input type="number" min="1" max="100" id="input_armour_legs_count" onchange="submit()">&ensp;%<br/>
    
        <label class="indent">Feet:</label><br class="mobileonly"/><i class="mobile-spacer"></i>
        <input type="text" size="13" id="input_armour_feet" onkeyup="submit()"> &nbsp;<br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Count:</span> &nbsp;
        <input type="number" value="1" min="1" id="input_armour_feet_num" onchange="submit()"><br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Drop chance:</span> &nbsp;
        <input type="number" min="1" max="100" id="input_armour_feet_count" onchange="submit()">&ensp;%<br/>
        
    
        <label class="indent">Main hand:</label><br class="mobileonly"/><i class="mobile-spacer"></i>
        <input type="text" size="13" id="input_held_item" onkeyup="submit()"> &nbsp;<br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Count:</span> &nbsp;
        <input type="number" value="1" min="1" id="input_held_item_num" onchange="submit()"><br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Drop chance:</span> &nbsp;
        <input type="number" min="1" max="100" id="input_held_item_count" onchange="submit()">&ensp;%<br/>
    
        <label class="indent">Offhand:</label><br class="mobileonly"/><i class="mobile-spacer"></i>
        <input type="text" size="13" id="input_offhand_item" onkeyup="submit()"> &nbsp;<br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Count:</span> &nbsp;
        <input type="number" value="1" min="1" id="input_offhand_item_num" onchange="submit()"><br class="mobileonly"/><i class="mobile-spacer"></i>
        <span class="indent">Drop chance:</span> &nbsp;
        <input type="number" min="1" max="100" id="input_offhand_item_count" onchange="submit()">&ensp;%<br/>
    </p>
</form>

<h3 onclick="submit()">
    Output
    <span style="font-size: 90%;">
        &nbsp;<i class="fas fa-sync-alt"></i>
        &nbsp;<i class="fas fa-copy" id="copyCommand" onclick="copyCommand()"></i>
    </span>
</h3>
<div id="cmd-note" class="hide" onmouseover="submit()">
    <p>
        <strong>Note:</strong> This command is too long to be put in chat so it must be run from a command block:
        <output class="command">
            <span class="§7">/give</span>
            <span class="§b">@s</span>
            <span class="§e">minecraft:command_block</span>
            <span class="§a">1</span>
        </output>
    </p>
</div>
<output id="generator-output" class="command"></output>

{% include "ad.html" %}