---
layout: layouts/base.njk
permalink: /
title: Home
description: "The personal website of Nixinova, containing command generation and coordinate tools for Minecraft, APIs for Minecraft and Hytale, downloads of my Minecraft maps and resource packs, and my personal projects."
keywords: "nixinova,herobrinenzk,nixinova website,nixinova.com"
nss: "home.nss"
---

<div id="welcome" class="showcase-container">
    <div>
        <img src="/assets/images/logos/nixinova.png" alt="&thinsp;NIXINOVA" onmousedown="return false;">
    </div>
</div>
<!--
<div id="apis" class="showcase-container image-background" style="background-image: linear-gradient(45deg, #58f, #23b);">
    <div class="content-container">
        <div class="title">
            <h2>Projects</h2>
        </div>
        <div class="contents">
            <ul>
                <li><a class="hover-underline" href="https://novasheets.netlify.app" target="_blank">NovaSheets</a></li>
                <li><a class="hover-underline" href="https://github.com/Nixinova/resourcepacker" target="_blank">resourcepacker</a></li>
            </ul>
        </div>
    </div>
</div>
-->
<div id="apis" class="showcase-container image-background" style="background-image: url(/assets/images/minecraft/apis-background.jpg); background-color: #444;">
    <div class="content-container">
        <div class="title">
            <h2>APIs</h2>
        </div>
        <div class="contents">
            <ul>
                <li><a class="hover-underline" href="/tools/minecraft/api/versions">Minecraft Versions</a></li>
                <li><a class="hover-underline" href="/tools/minecraft/api/mojira">Mojira Versions</a></li>
                <li><a class="hover-underline" href="/tools/minecraft/api/player">Minecraft Player</a></li>
                <li><a class="hover-underline" href="/tools/hytale/api/blog">Hytale Blog</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="tools" class="showcase-container image-background" style="background-image: url(/assets/images/minecraft/tools-background.jpg);">
    <div class="content-container">
        <div class="title">
            <h2>Tools</h2>
        </div>
        <div class="contents">
            <ul>
                <li><a class="hover-underline" href="/tools/minecraft/commands/give">/give</a></li>
                <li><a class="hover-underline" href="/tools/minecraft/commands/summon">/summon</a></li>
                <li><a class="hover-underline" href="/tools/minecraft/converters/coordinates">Coordinates</a></li>
                <li><a class="hover-underline" href="/tools/minecraft/converters/seed">Seed Converter</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="maps" class="showcase-container image-background" style="background-image: url(/assets/images/minecraft/maps/kitpvp.jpg)">
    <div class="content-container">
        <div class="title">
            <h2>Maps</h2>
        </div>
        <div class="contents">
            <ul>
                <li><a class="hover-underline" href="/downloads/minecraft/maps/skywars">SkyWars</a></li>
                <li><a class="hover-underline" href="/downloads/minecraft/maps/kitpvp">KitPvP</a></li>
                <li><a class="hover-underline" href="/downloads/minecraft/maps/musical-blocks">Musical&nbsp;Blocks</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="packs" class="showcase-container image-background" style="background-image: url(/assets/images/minecraft/resource-packs/nixinova-mash-up.jpg);">
    <div class="content-container">
        <div class="title">
            <h2>Resource Packs</h2>
        </div>
        <div class="contents">
            <ul>
                <li><a class="hover-underline" href="/downloads/minecraft/resource-packs/mash-up">Mash-Up</a></li>
                <li><a class="hover-underline" href="/downloads/minecraft/resource-packs/themed">Themed</a></li>
                <li><a class="hover-underline" href="/downloads/minecraft/resource-packs/herobrinenzk">HeroBrineNZK</a></li>
            </ul>
        </div>
    </div>
</div>
