---
layout: layouts/base.njk
permalink: /legal.html
title: Copyright & Privacy
---

<div>

    <h1>Legal</h1>

    <h2>Disclaimer</h2>
    <p>This website embeds links to third-party content. These links are functional and legitimate at the time of publishing but I can not guarantee the continued accuracy of these links and take no responsibility for the content of external websites.</p>

    <h2>Privacy and Cookies</h2>
    <p>This website does not collect nor store any first-party data or cookies, but does use external third-party services that may collect data, such as Google AdSense and Analytics. See <a href="https://policies.google.com/technologies/partner-sites">Google's policy</a> for details about what informaiton Google collects.</p>

</div>
