---
layout: base.njk
permalink: /downloads/minecraft/maps/kitpvp.html
title: KitPvP
description: "The minigame KitPvP in vanilla Minecraft 1.8–1.17. Pick one of the 10 kits and fight to the death!"
keywords: "nixinova,minecraft,download,downloads,kitpvp,pvp,kitpvp map,kitpvp download,kitpvp arena,minecraft kitpvp,minecraft kitpvp map,pvp map"
---
<div id="gallery">
    <div class="screenshot" style="background-image: url('/assets/images/minecraft/maps/kitpvp.jpg')">
        <h1>KitPvP</h1>
    </div>
</div>

<p class="description">
    Play the popular minigame KitPvP in vanilla Minecraft.
    Pick one of the 10 kits and fight to the death!
    In this version, there are two modes &ndash; singleplayer and multiplayer.
    Singleplayer lets you battle naturally-spawned mobs and multiplayer lets you fight other players.
</p>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- In-article -->
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-7730644887366759" data-ad-slot="5486632061"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<h2 class="section-header">What is KitPvP?</h2>

<p class="description">
    KitPvP is a popular minigame in which each player chooses a premade kit &ndash;
    in this case, Caveman, Witch, Nurse, YOLO, Knight, Mage, Archer, Warrior, Fisherman, or Brute &ndash;
    and fight other players in a continuous PvP or PvE battle arena!
</p>

<!--<iframe src="https://www.youtube.com/embed/3nN-HKkNL4c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen />-->

{% include "ad.html" %}
        
<h2 class="section-header">Download</h2>
<p>
    <a href="https://mediafire.com/?xg6vthgohm5huvm" target="_blank">
        <button class="download"><i class="fas fa-download"></i>&nbsp;v3.1 (1.17)</button>
    </a>
</p>
<h3>Older Downloads</h3>
<p>
    <a href="https://mediafire.com/?05vn18g0rnoy6yr" target="_blank">
        <button class="download"><i class="fas fa-download"></i>&nbsp;v3.0 (1.14–1.16)</button>
    </a><br>
    <a href="https://mediafire.com/?st1nuq0dsi2qd1z" target="_blank">
        <button class="download"><i class="fas fa-download"></i>&nbsp;v2.0 (1.13)</button>
    </a><br>
    <a href="https://mediafire.com/?07p355z3lke8o34" target="_blank">
        <button class="download"><i class="fas fa-download"></i>&nbsp;v1.0 (1.8)</button>
    </a>
</p>
