---
layout: layouts/base.njk
permalink: /downloads/minecraft/maps/musical-blocks.html
title: Musical Blocks
description: "The minigame Musical Blocks or Block Party recreated in vanilla Minecraft 1.14–1.17. Musical Blocks is a small minigame where the player has to run to whatever colour the map tells them to go to."
keywords: "nixinova, minecraft, download, downloads, musical, blocks, musical blocks,block party,block party map,musical blocks map, block party map download, block party download, musical blocks download"
---
<div id="gallery">
    <div class="screenshot" style="background-image: url('/assets/images/minecraft/maps/musical-blocks.jpg')">
        <h1>Musical Blocks</h1>
    </div>
</div>

<p class="description">
    The minigame Musical Blocks or
    <a href="https://hivemc.com/blockparty" target="_blank" title="BlockParty &raquo; TheHive">Block Party</a>
    recreated in vanilla Minecraft.
</p>

{% include "ad.html" %}

<h2 class="section-header">What is Musical Blocks?</h2>
<p class="description">
    Musical Blocks is a minigame where each player has to run to and stand on a randomised colour each round.
    After a few seconds the ground not of that colour will disappear and any players on them will fall to their deaths.
    The last player standing wins the game.
</p>

{% include "ad.html" %}

<!--<iframe src="https://www.youtube.com/embed/M8OOm4pxTiU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen />-->

<h2 class="section-header">Download</h2>
<p class="download">
    <a href="https://mediafire.com/?mcfh88csr8qhuf8" target="_blank">
        <button class="download">
            <i class="fas fa-download"></i>&nbsp;v2.1 (1.16–1.17)
        </button>
    </a><br>
    <a href="https://mediafire.com/?vb2n9s9k5jho3dw" target="_blank">
        <button class="download">
            <i class="fas fa-download"></i>&nbsp;v2.0 (1.15)
        </button>
    </a>
</p>

<h3>Older Downloads</h3>
<p>
    <strong>Minecraft 1.8.5</strong><br>
    <a href="https://mediafire.com/?75tptjkikx0dn9w" target="_blank">v1.7.1  </a> &ensp;
    <a href="https://mediafire.com/?id8eujd4xjb6l5j" target="_blank">v1.7.0  </a> &ensp;
    <a href="https://mediafire.com/?v4sv31r9g87d24q" target="_blank">v1.6.5  </a> &ensp;
    <a href="https://mediafire.com/?9sv1u2cjc81dl34" target="_blank">v1.6.4  </a> &ensp;
    <a href="https://mediafire.com/?9d6zcbf9cla5g4d" target="_blank">v1.6.3  </a> &ensp;
    <a href="https://mediafire.com/?4xq2pqjujlz9k6u" target="_blank">v1.6.2_1</a> &ensp;<br>
    <a href="https://mediafire.com/?68n9hfcpf8ppumd" target="_blank">v1.6.2  </a> &ensp;
    <a href="https://mediafire.com/?5frs4491rv4887x" target="_blank">v1.6.1  </a> &ensp;
    <a href="https://mediafire.com/?0qf1a48i3a2g7h4" target="_blank">v1.6.0  </a> &ensp;
    <a href="https://mediafire.com/?92q9qtd6kakv9k0" target="_blank">v1.5.2  </a> &ensp;
    <a href="https://mediafire.com/?l1v1pk1vrewmzsi" target="_blank">v1.5.1  </a>
</p>
