---
layout: layouts/base.njk
permalink: /downloads/minecraft/maps/skywars.html
title: SkyWars
description: "A fully-functional SkyWars map in vanilla Minecraft 1.13. SkyWars is a 12-player PvP game where players spawn on separate islands, gather loot, and fight other players in a bid to be the last one standing. Based off of Hypixel SkyWars."
keywords: "nixinova,nixi,nova,minecraft,skywars,minecraft skywars,nixinova skywars,hypixel skywars,skywars map,skywars map download,skywars download"
---
<div id="gallery">
    <div class="screenshot" style="background-image: url('/assets/images/minecraft/maps/skywars.jpg')">
        <h1>SkyWars</h1>
    </div>
</div>

<p class="description">
    A fully-functional SkyWars map in vanilla Minecraft, made for my 200 subscriber special!<br>
    Supports up to 12 people. Based off of Hypixel Skywars.
</p>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- In-article -->
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-7730644887366759" data-ad-slot="5486632061"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<h2 class="section-header">What is SkyWars?</h2>
<p class="description">
    SkyWars is a 12-player PvP game where players spawn on separate islands, gather loot,
    and fight other players in a bid to be the last one standing.
    There is a larger island in the center of the map which contains better loot
    that you would find on your spawn island.
</p>

<p id="video">
    <iframe class="youtube" width="720" height="405" src="https://www.youtube.com/embed/PfX2MsfR8u8" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen>Your browser does not support YouTube video embeds.</iframe>
</p>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- In-article -->
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-7730644887366759" data-ad-slot="5486632061"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<h2 class="section-header">Download</h2>
<p>
    <a href="https://mediafire.com/?twzti4u32s36g36" target="_blank">
        <button class="download"><i class="fas fa-download"></i>&nbsp;v2.0 (1.15+)</button>
    </a>
</p>
<p style="margin-bottom: 0;"><strong>Older Downloads</strong></p>
<style>td {padding: 2px 4px;}</style>
<table style="margin: auto;">
    <tbody>
        <tr>
            <td><strong>1.13</strong></td>
            <td><strong>&ndash;</strong></td>
            <td colspan="4"><a href="https://mediafire.com/?51c8szmy1zdzsro" target="_blank">v1.1</a></td>
        </tr>
        <tr>
            <td><strong>1.12</strong></td>
            <td><strong>&ndash;</strong></td>
            <td><a href="https://mediafire.com/?o8ybuzvsnlaeuaz" target="_blank">v1.0</a></td>
            <td><a href="https://mediafire.com/?oyzlo9rjp6m4gmq" target="_blank">v0.3</a></td>
            <td><a href="https://mediafire.com/?6cczk3fo9018k2k" target="_blank">v0.2</a></td>
            <td><a href="https://mediafire.com/?2l5i9dsngwvok5o" target="_blank">v0.1</a></td>
        </tr>
    </tbody>
</table>