---
layout: layouts/base.njk
permalink: /tools/minecraft/converters/coordinates.html
title: "Minecraft Coordinates Converter"
description: "Converts Minecraft coordinates between block, nether, chunk, and region coordinates."
keywords: "nixinova,coordinates,minecraft,coordinates converter,minecraft coordinates converter"
nss: "tools.nss"
js: "coordinates.js"
---
<style>
    input {width: 100px !important; padding-left: 25px; text-align: center;}
</style>
<script>
    window.coordsType = '';
    $(document).ready(function() {
        submit();
        $('#footer-other').append('<a href="/assets/js/coordinates.js" title="coordinates.js" target="_blank">View code</a>');
    });
</script>

<h1>Coordinate Tools</h1>
<p>Translates overworld coordinates into nether, chunk and region coordinates.</p>
<div class="content">
    <span onclick="coordsType='overworld_block';">
        <label class="long">Overworld block coordinates</label><br class="mobileonly"/>
        X: <input type="number" id="overworld_block_x" value="0" onchange="submit();"> &nbsp;
        Y: <input type="number" id="overworld_block_y" value="0" onchange="submit();" min="0" max="255"> &nbsp;
        Z: <input type="number" id="overworld_block_z" value="0" onchange="submit();"> &nbsp;
        <button type="button" onclick="copyOverworldBlock()">Copy</button><br/>
    </span>

    <span onclick="coordsType='overworld_chunk';">
        <label class="long">Overworld chunk coordinates</label><br class="mobileonly"/>
        X: <input type="number" id="overworld_chunk_x" value="0" onchange="submit();"> &nbsp;
        Y: <input type="number" id="overworld_chunk_y" value="0" onchange="submit();" min="0" max="15"> &nbsp;
        Z: <input type="number" id="overworld_chunk_z" value="0" onchange="submit();"> &nbsp;
        <button type="button" onclick="copyOverworldChunk()">Copy</button><br/>
    </span>

    <span onclick="coordsType='nether_block';">
        <label class="long">Nether block coordinates</label><br class="mobileonly"/>
        X: <input type="number" id="nether_block_x" value="0" onchange="submit();"> &nbsp;
        Y: <input type="number" id="nether_block_y" value="0" onchange="submit();" min="0" max="255"> &nbsp;
        Z: <input type="number" id="nether_block_z" value="0" onchange="submit();"> &nbsp;
        <button type="button" onclick="copyNetherBlock()">Copy</button><br/>
    </span>

    <span onclick="coordsType='nether_chunk';">
        <label class="long">Nether chunk coordinates</label><br class="mobileonly"/>
        X: <input type="number" id="nether_chunk_x" value="0" onchange="submit();"> &nbsp;
        Y: <input type="number" id="nether_chunk_y" value="0" onchange="submit();" min="0" max="15"> &nbsp;
        Z: <input type="number" id="nether_chunk_z" value="0" onchange="submit();"> &nbsp;
        <button type="button" onclick="copyNetherChunk()">Copy</button><br/>
    </span>

    <span onclick="coordsType='overworld_region';">
        <label class="long">Overworld Region file name</label>
        <code>
            r.<input type="number" id="overworld_region_x" value="0" onchange="submit();"><!--
          -->.<input type="number" id="overworld_region_z" value="0" onchange="submit();">.mca
        </code><br/>
        <!--<span class="indent" id="overworld_region_info"></span><br/>-->
    </span>

    <span onclick="coordsType='nether_region';">
        <label class="long">Nether Region file name</label>
        <code>
            r.<input type="number" id="nether_region_x" value="0" onchange="coordsType='nether_region';submit();"><!--
          -->.<input type="number" id="nether_region_z" value="0" onchange="coordsType='nether_region';submit();">.mca
        </code>
        <!--<br/><span class="indent" id="nether_region_info"></span>-->
    </span>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- In-article -->
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-7730644887366759" data-ad-slot="5486632061"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>