---
layout: layouts/base.njk
permalink: /tools/minecraft/converters/seed.html
title: "Minecraft Seed Converter"
description: "Converts a string into a numeric Minecraft world seed."
keywords: "nixinova,minecraft,minecraft seed,minecraft seed analyzer,minecraft seed converter,seed analyzer,seed converter"
nss: "tools.nss"
---
<style>
    main {display: flex;}
    main>div {margin: auto;}
    input {width: 200px;}
    output {display: block; margin: 2em;}
</style>
<script>
    function hash(a) {
        let str = a.toString();
        if (/^0+$/.test(str)) return '<random seed>';
        if (/^\d+$/.test(str) && str.length < 20) return str;
        let hash = 0;
        for (let i = 0; i < str.length; i++) {
            let character = str.charCodeAt(i);
            hash = ((hash << 5 ) - hash) + character;
            hash = hash & hash; // Convert to 32bit integer
        }
        return hash;
    }
    function submit() {
        let seed = $('#seed').val();
        $('output').html('Output seed: ' + hash(seed));
    }
</script>

<div>
    <h1>Minecraft Seed Converter</h1>
    <p>Converts a string into a numeric Minecraft world seed.</p>

    <p>
        <input type="text" id="seed" maxlength="32"> &emsp;
        <button type="button" onclick="submit();">Convert</button>
        <output></output>
    </p>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- In-article -->
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-7730644887366759" data-ad-slot="5486632061"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>