---
layout: layouts/base.njk
permalink: /tools/minecraft/converters/seed.html
title: "Minecraft Seed Converter"
description: "Converts a string into a numeric Minecraft world seed."
keywords: "nixinova,minecraft,minecraft seed,minecraft seed analyzer,minecraft seed converter,seed analyzer,seed converter"
css: "tools.css"
---
<style>
    main {display: flex;}
    main>div {margin: auto;}
    input {width: 200px;}
    output {display: block;}
</style>
<script>
    String.prototype.hashCode = function() {
        if (/^[0-9]+$/.test(this) && this.length < 20) return this;
        var hash = 0;
        for (var i = 0; i < this.length; i++) {
            var character = this.charCodeAt(i);
            hash = ((hash<<5)-hash)+character;
            hash = hash & hash; // Convert to 32bit integer
        }
        return hash;
    }

    var sections = ['username', 'uuid', 'username-history', 'skin', 'cape'];
    function submit() {
        let seed = $('#seed').val().toString().hashCode();
        $('output').html('Output seed: ' + seed);
    }
</script>

<div>
    <h1>Minecraft Seed Converter</h1>
    <p>Converts a string into a numeric Minecraft world seed.</p>

    <p>
        <input type="text" id="seed" maxlength="32"> &emsp;
        <button type="button" onclick="submit();">Convert</button>
        <output style="margin: 2em;"></button>
    </p>
</div>